absl-py==2.5.0
annotated-types==0.8.0
av==18.1.0
cffi==2.1.1
cloudpickle==3.1.2
coacd==1.0.14
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
dataclasses-json==0.6.7
decorator==5.3.1
Deprecated==1.3.1
dill==0.4.1
DracoPy==2.1.0
etils==1.14.0
Farama-Notifications==0.0.6
fast_simplification==0.2.0
filelock==3.32.3
fonttools==4.66.1
freetype-py==2.5.1
frozendict==2.4.7
fsspec==2026.7.0
genesis-world==1.4.3
glfw==2.10.2
grpcio==1.84.0
gymnasium==1.3.0
ImageIO==2.38.0
imageio-ffmpeg==0.6.0
Jinja2==3.1.6
kiwisolver==1.5.1
lazy-loader==0.6
libigl==2.6.3
llvmlite==0.50.0
Markdown==3.11
markdown-it-py==4.2.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.11.2
mdurl==0.1.2
moviepy==2.2.1
mpmath==1.3.0
msvc_runtime==14.44.35112
mujoco==3.14.0
mypy_extensions==1.1.0
networkx==3.6.1
numba==0.68.0
numpy==2.4.6
opencv-python==5.0.0.93
OpenEXR==3.5.1
packaging==26.3
pillow==11.3.0
plotly==5.24.1
proglog==0.1.12
protobuf==7.36.2
psutil==7.2.2
py-cpuinfo==9.0.0
pycollada==0.9.3
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
PyGEL3D==0.8.2
pyglet==2.1.16
pygltflib==1.16.0
Pygments==2.21.0
pymeshlab==2025.7.post1
PyOpenGL==3.1.10
pyparsing==3.3.3
pysplashsurf==0.14.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.4
PyYAML==6.0.3
quadrants==1.3.3
rich==15.0.0
rtree==1.4.1
scikit-image==0.26.0
scipy==1.17.1
six==1.17.0
sympy==1.14.0
tenacity==9.1.4
tensorboard==2.21.0
tensorboard-data-server==0.7.2
tetgen==0.8.2
tifffile==2026.3.3
torch==2.14.1+cu126
torchaudio==2.11.0+cu126
torchvision==0.29.1+cu126
tqdm==4.70.1
trimesh==5.1.0
typing-inspect==0.9.0
typing-inspection==0.4.4
typing_extensions==4.16.0
vtk==9.7.1
websockets==17.1
Werkzeug==3.1.9
wrapt==2.5.0
xacro==2.1.1
z3-solver==4.15.4.0
zipp==4.1.0
